.layout {
  display: flex;
  width: 100vw;
}
.right {
  margin-left: 224px;
  min-width: 100%;
}
.sidebar {
  position: absolute;
  background-color: #1e2640;
  width: 224px;
  height: 100vh;
  padding: 8px;
  color: #d2d4d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-header {
  width: 100%;
  padding: 1px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 16px;
}
.sh-logo {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 0.5px;
}
.sh-store {
  height: 42px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sh-store-name {
  width: 110px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.sh-store-link {
  width: 110px;
  font-size: 13px;
  line-height: 15px;
  text-decoration: underline;
}
.nav-items {
  height: 85vh;
  overflow: hidden;
}
.nav-item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  color: #fff;
  opacity: 0.8;
  gap: 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.1s linear;
}
.nav-item.selected {
  background-color: rgba(255, 255, 255, 0.1);
}
.nav-item.selected:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.nav-item:hover {
  background-color: rgba(48, 56, 79, 0.5);
}
.nav-item,
.ni-text {
  display: flex;
}
.noti-circle {
  width: 24px;
  height: 20px;
  background-color: #ee741f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.nav-item-children {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}
.nav-item-child {
  margin: 4px 0px 4px 48px;
  cursor: pointer;
  opacity: 0.8;
}
.nav-item-child.selected {
  opacity: 1;
}
.nav-bottom {
  width: 100%;
  background-color: rgba(53, 60, 83);
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 4px;
}
.nb-icon {
  width: 36px;
  height: 36px;
  padding: 8.2px 6.2px;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  border-radius: 4px;
  margin-right: 12px;
}
.nb-text {
  display: flex;
  flex-direction: column;
}
.nb-text.credits-header {
  font-size: 13px;
  opacity: 0.8;
}
.nb-text .credits {
  font-size: 16px;
  font-weight: 500;
}
.top-bar {
  display: flex;
  width: calc(100% - 224px);
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 12px 32px;
  border-bottom: 1px solid #d9d9d9;
  position: absolute;
  background-color: #fff;
}
.tb-icon-wrapper {
  background: #e6e6e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tb-left {
  display: flex;
  width: 420px;
  gap: 16px;
}
.tb-center {
  width: 420px;
  display: flex;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: center;
  padding: 9px 16px;
  border-radius: px;
}
.search-box {
  background-color: #f2f2f2;
  border: 0;
  outline: 0;
  width: 100%;
  padding-left: 8px;
  font-size: 15px;
  line-height: 22px;
}
.search-box:active {
  outline: 0;
  border: 0;
}
.tb-right {
  display: flex;
  width: 420px;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}
.page-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #1a181e;
}
.page-hint {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.7px;
  color: #4d4d4d;
}
.page {
  width: calc(100% - 224px);
  max-height: calc(100vh - 64px);
  padding: 32px;
  background-color: #fafafa;
  gap: 32px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 64px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.page .header .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
}
.ph-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
.order-details {
  height: 118px;
  display: flex;
  gap: 20px;
}
.od-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 16px;
  border-radius: var(--Spacing-spacing-04, 8px);
  background: var(--Black-100, #fff);
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}
.od-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 16px;
  border-radius: var(--Spacing-spacing-04, 8px);
  background: var(--Black-100, #fff);
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}
.od-head {
  font-size: 16px;
  line-height: 24px;
}
.od-value {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}
.drop-down {
  color: #4d4d4d !important ;
}
.page-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pb-header {
  color: var(--Black-12, #1a181e);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.pb-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pb-table {
  background-color: #fff;
  padding: 12px 12px 24px 12px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.pbt-search {
  max-width: 248px;
  display: flex;
  border-radius: px;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  background: var(--Black-100, #fff);
}
.pbt-search input {
  background: var(--Black-100, #fff);
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  gap: 6px;
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  background: var(--Black-100, #fff);
}
.pbt-download .btn {
  padding: 8px;
}
.pbt-right {
  display: flex;
  gap: 12px;
}
.pb-table{
  border-radius: 8px;
}
.table-header tr {
  padding: 10px 12px;
  overflow: hidden;
  border-radius: 10px;
}
tr {
  font-size: 16px;
  width: 100%;
  height: 48px;
}
.orderID {
  cursor: pointer;
  font-weight: 500;
  color: #146eb4;
}
tr .ti:nth-child(1),
tr .ti:nth-child(2) {
  text-align: left;
}
tr .ti:nth-child(3),
tr .ti:nth-child(4) {
  text-align: right;
}
th {
  color: #4D4D4D;
  background: var(--Black-95, #f2f2f2);
}
th:nth-child(1) {
  border-radius: 8px 0px 0px 8px;
}
th:nth-child(4) {
  border-radius: 0px 8px 8px 0px;
}
thead tr {
  border-bottom: 0px;
}
td,
th {
  padding: 0px 12px;
}
th:nth-child(1),
th:nth-child(2) {
  text-align: left;
}
th:nth-child(3),
th:nth-child(4) {
  text-align: right;
}
.payout-table {
  margin: 12px;
}
tr {
  border-bottom: 1px solid #e6e6e6;
}
.table-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.table-footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  background: var(--Black-100, #fff);
}
.table-footer .tf-left button {
  padding: 6px 12px 6px 6px;
}
.table-footer .tf-right button {
  padding: 6px 6px 6px 12px;
}
.pg-no.active {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 6px 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  background: var(--Primary-Blue, #146eb4);
  color: #ffffff;
}
.pg-no {
  cursor: pointer;
  display: flex;
  width: 28px;
  height: 28px;
  padding: 6px 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
}
.tf-center {
  display: flex;
}
@media (max-width: 1024px) {
  .ni-text {
    display: none;
    position: relative;
  }
  .sidebar {
    width: 55px;
    margin: 0;
    padding: 0;
  }
  .sh-store {
    display: none;
  }
  .noti-circle {
    position: absolute;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
  }
  .right {
    margin-left: 55px;
    width: calc(100vw - 55px);
  }
  .top-bar {
    width: calc(100vw - 55px);
  }
  .page {
    width: calc(100vw - 55px);
  }
}
@media (max-width:745px) {
  .page{
    padding: 5px;;
  }
}
@media (max-width:625px) {
  .order-details{
    flex-direction: column;
    gap: 0;
  }
  .od-left,.od-right{
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 0;
  }
  .od-value{
    font-size: 20px;
  }
  .payout-table{
    margin: 0;
  }
  .pb-table{
    padding: 0;
  }
  th,td{
    margin: 0;
    padding: 0;
  }
  th.th-item{
    border-radius: 0px;
  }
  th{
    text-wrap: wrap;
  }
  .tf-left,.tf-right{
    display: none;
  }
  .page-hint{
    display: none;
  }
  .tb-right{
    display: none;
  }
  .page{
    gap:0;
  }
  .nb-text{
    display: none;
  }
  .nav-bottom{
    background-color:rgba(1, 1, 1, 0) ;
  }
  html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .top-bar{
    padding: 10px;
    height: 45px;
  }
  th,tr,td{
    font-size: 0.8rem;
  }
}
